# Token of the Telegram bot, that you can get from @BotFather. Required.
TELEGRAM_BOT_TOKEN=

# root path to the SQLite database file. If the file does not exist, it will be created automatically.
DB_PATH=progress.db
